{% extends "base.html" %}
{% block main %}
 <h1>Contact Form</h1>
 </br>
 <hr>
 Fill in this form to contact the site owners.<br><br>

<form action="{{url_for('contact')}}" method="POST">
 {{form.csrf_token}}


 <div>
 <label for="Name"><h5>{{ form.name.label }}<font color=#BA2C48>(Required)</font></h5>
 Please enter your full name.
</label>
<br>
 {{ form.name(size=30) }}
</div><br><br>


<div>
<label for="email"><h5>{{ form.email.label }}<font color=#BA2C48>(Required)</font></h5>
Please enter your e-mail address.
</label>
<br>
{{ form.email(size=30) }}
</div><br><br>


<div>
<label for="subject"><h5>{{ form.subject.label }}<font color=#BA2C48>(Required)</font></h5>
Please enter the subject for your message.
</label>
<br>
{{ form.subject(size=30) }}
</div><br><br>


<div>
<label for="msg"><h5>{{ form.message.label }}<font color=#BA2C48>(Required)</font></h5>
Please enter the message you would like to send.
</label>
<br>
{{ form.message(size=30,rows="100", cols="50") }}
</div><br><br>



<button id= "butn" type="submit">Send
</button>
</form>
{% endblock %}
